.bg {

    background-color: rgb(240, 223, 178); 
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;   
}
.cloud1 {

    width: 150px;
    position: absolute;
	top: 10%;
	
}

.cloud2 {

    width: 100px;
    position: absolute;
	top: 25%;
}
.cloud3 {

    width: 200px;
    position: absolute;
	top: 0%;
	
}

.dog  {

    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 150px; 
    
    }
  
    .cat {
        height: 30px;
        position: absolute;
        bottom: 0px; 
        margin-left: 20%;
    }
   
    .ground {

        position: absolute;
        bottom: 0%;
        height: 20px;
        width: 100%;
    }
    .bird1 {

        height: 30px;
       padding-top: 50px;
    }
    .bird2 {

        height: 30px;
    }
    .bird3 {

        height: 30px;
        top: 10%;
    }
    .bird4 {

        height: 20px;
       padding-top: 50px;
    }
    .man1 {
        position: absolute;
        height: 150px;
       padding-top: 20%;
        
        
        
    }
    .man2 {
        position: absolute;
        padding-top: 14%;
        height: 140px;
    }
